* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

/*BARRA SUP*/
.barra-sup {
	border-bottom: 1px solid #f0f0f0;

}
.barra-sup span {
	font-size: 60%;
}
.barra-sup button {
	font-size: 75%;
}
.bandera  {
	height: 10px;
}
.fa-facebook-f, .fa-instagram {
	color: #7887a8;
}
.fa-whatsapp {
	color: #7ad06d
}

/*CONTENEDOR MENU*/

/*MENU TOP/* 
*/
#menu-top ul li a {
	color: #7786a7;
} 
#menu-top ul {
	list-style: none;
}

/* 1ER BLOQUE */

.texto h1 {
	color: #525578;
	line-height: 2em;
}

.btn-1 {
	background-color: #d8d8d8;
	height: 3em;
	width: 40%;
	margin: 5px 5px 5px 0;
}
.btn-enviar {
	border-radius: 25px;
	color: white;
	background-color: #677896;
	width: 45%;
	height: 45px;
	font-size: 20px;
	font-weight: 300;
}
/* 2do BLOQUE*/

/*PARTE FINAL*/
.franja {
	background: #7ad06d;
	
	
	}#contacto span {
		font-size: 80%
	}
	.btn-footer {
		border-radius: 25px;
		width: 150px;
		background-color: white;
		color: #7ad06d; 
		height: 40px;
	}
	.btn-footer i {
		height: 15px;
	}
	#formulario {
		padding: 70px;
		background-color: #f8f8f8;
		color: #677896;

	}
	.btn-form {
		width: 180px;
		height: 40px;
		background-color: #677896;
		color: white;
		border-radius: 50px;
	}
	footer {
		background-color: #e7effa;
		width: 100%; 
		height: 40px;
	}
	footer span {
		margin: auto 0;
	}
	
	.pre-footer .logo {
		width: 50%;
	}
	.pre-footer ul li {
		list-style: none;
	}
	.f-line-h {
		line-height: 2em;
		color: #7e8bab;
	}
	.pre-footer span i {
		font-size: 15px;
		padding: 2.5px;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 25px;
		border-radius: 50%;
		background-color: #677896;
		color: white;
	}
	.pre-footer i {
		color: #91b7dc;
		font-size: 1.5em;
	}
	.pre-footer span {
		display: block;
		text-align: center;
	}
	/* LIGAS + VEF*/
	.ligas, .ligas-mobile {
		color: #677896;
	}
	.ligas img {
		width: 80px;
	}
	.col-center {
		float: none;
		margin: 0 auto;
	}
	.ligas-mobile {
		display: none;
	}
	.servicios h3 {
		color: #64676c;
	}
	.servicios i {
		font-size: 30px;
		padding: 5px;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 50px;
		border: 1px solid #ebebed;
		border-radius: 50%;
		color: #65686d;
	}
	.servicios h4 {
		font-size: 15px;
	}
	.servicios p {
		font-size: 12px;
	}
	.servicios i {
		transition: border-color .5s;
	}
	.servicios i:hover {
		border-color: blue; 
	}


	@media (max-width: 767px){
		/*PRE FOOTER*/
		.pre-footer .logo {
			width: 60%;
			display: block;
		}
		.pre-footer ul li{
			padding: 0 15px;
			display: inline;
		}
		
	}
	/* SMARTPHONES*/
	@media only screen
	and (max-device-width : 480px) {
		
		.fa-facebook-f, .fa-instagram, .barra-sup .fa-whatsapp {
			font-size: 80%;
			margin: 5px;
		}
		#titulo {
			font-size: 50%;
		}
		.bandera {
			font-size: 50%;
		}
		.barra-sup button {
			font-size: 50%;
		}
		
		footer span {
			font-size: 80%;
			margin: auto 0;
		}

		
	/* Solucionar
	input::-webkit-input-placeholder {
		font-size: 10px;
	}
	input::-moz-placeholder {
		font-size: 10px;
	}
	input::-webkit-textarea-placeholder {
		font-size: 10px;
	}
	textarea::-moz-placeholder {
		font-size: 10px;
		}*/
	}
