//-------------------------------------------
// 			PATRON DE COLORES
//-------------------------------------------
$principal:#4f6283;
$secundario:#677896;

//-------------------------------------------
// SOBREESCRIBIENDO  LOS ESTILOS DE BOOTSTRAP
//-------------------------------------------

.text-primary {
	color: $principal !important; 
}
.text-secondary {
	color: $secundario !important;
}
.btn-secondary {
	width: 12em;
	height: 2.5em;
	background-color: $secundario;
	color: white;
	border-radius: 50px;
}
//------------------------
//		GENERAL
//------------------------
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
/*--------------------------------
		Mobile
		--------------------------------*/

	
/*--------------------------------
		BARRA SUPERIOR
		--------------------------------*/
		#titulo {
			font-size: .6em;
		}
		.barra-sup span {
			font-size: 60%;
		}
		.barra-sup button {
			font-size: 50%;
		}

		.barra-sup .fa-facebook-f, .barra-sup .fa-instagram, .barra-sup  .fa-whatsapp{
			width: .5em;
		}
		.fa-facebook-f, .fa-instagram {
			color: #7887a8;
		}
		.fa-whatsapp {
			color: #7ad06d;
		}
/*--------------------------------
		MENU TOP
		--------------------------------*/
		#menu-top ul li a {
			color: #7786a7;
		} 
		ul {
			list-style: none;
		}
/*--------------------------------
		1ER BLOQUE
		--------------------------------*/
		.titulo {
			color: #525578;
			line-height: 1.5em;
		}

		.btn-1 {
			background-color: #d8d8d8;
			height: 3em;
			width: 40%;
		}
/*--------------------------------
		TODOS LOS SERVICIOS
		--------------------------------*/
		.servicios h3 {
			color: #64676c;
		}
		.servicios i {
			font-size: 15px;
			padding: 5px;
			width: 73px;
			height: 73px;
			text-align: center;
			line-height: 60.83px;
			border: 1px solid #ebebed;
			border-radius: 50%;
			color: #65686d;
		}
		.servicios h4 {
			font-size: .9em;
			color: #74777c;
		}
		.servicios .iconos p {
			font-size: .9em;
			color: #b6b4b5;
		}
		.servicios i {
			transition: border-color .5s;
		}
		.servicios i:hover {
			border-color: #1a6be0; 
		}
/*--------------------------------
		PARTE FINAL
		--------------------------------*/



/*--------------------------------
		FRANJA(WHATS APP)
		--------------------------------*/

		.franja {
			background: #7ad06d;
		}
		.btn-footer {
			border-radius: 25px;
			width: 150px;
			background-color: white;
			color: #7ad06d; 
			height: 40px;
		}
		.btn-footer i {
			height: 15px;
		}

/*--------------------------------
		FORMULARIO
		--------------------------------*/

		#formulario {
			background-color: #f8f8f8;
			color: $secundario;

		}
		.contacto span {
			color: #081037;
			font-size: .7em;
		}
/*--------------------------------
		PRE FOOTER
		--------------------------------*/
		.pre-footer ul li, .pre-footer span {
			line-height: 2em;
		}
		.pre-footer span i {
			font-size: 15px;
			padding: 2.5px;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 25px;
			border-radius: 50%;
			background-color: $secundario;
			color: white;
		}
		.pre-footer i {
			color: #91b7dc;
			font-size: 1.5em;
		}
		.pre-footer a:link, .pre-footer a:visited, .pre-footer a:active {
			color: #7e8bab;
			text-decoration: none;
		}

/*--------------------------------
		FOOTER
		--------------------------------*/

		footer {
			background-color: #e7effa;
		}
		footer span {
			font-size: 75%;
		}


/*--------------------------------
		DESKTOP
		--------------------------------*/
		@media only screen
		and (min-width : 768px) {
			html {
				font-size: 16px;
			}
			.barra-sup button {
				font-size: 75%;
			}
			.fa-facebook-f, .fa-instagram, .barra-sup .fa-whatsapp {
				font-size: 100%;
			}	
		}
